@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title>Trick or Boom</title>

    <style>
        body {
            padding: 0px;
            margin: 0px;
            background-color: black;
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <h1>Trick or Boom!</h1>
        <p class="lead">
            Trick or Boom is an action puzzle game where you lead Jacques through different spooky environments.
            If anything ghastly gets in Jacques way, blow it up!
        </p>
    </div>

    <!--SCRIPTS-->
    @Scripts.Render("~/lib/phaser")
    @Scripts.Render("~/bundle/phaser")
    
</body>
</html>

